*.pyc
.idea/
build/
*.egg-info/
dist/
uploads/
update/
venv*/
.cache/
.app_cache/
.eggs/
.tox/
*/static/gen/
.webassets-cache/
.pytest_cache/
htmlcov/
.coverage*
*/instance/config.py
*.pem
traefik/usersfile
traefik/acme/acme.json
mosquitto/data/mosquitto.db
mosquitto/log/mosquitto.log
